<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="display:flex; justify-content: space-evenly">

<!--   BARRA LATERAL DE NAVEGACIÓN  -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 200px; margin-left: 20px; margin-right: 20px">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/inicio" class="nav-link active" aria-current="page">
                <img src="https://www.systemuicons.com/images/icons/home_door.svg" style="width: 30px"/>
                <span style="color: black; font-size: large">Home</span>
            </a>
        </li>
        <li>
            <a href="/perfil" class="nav-link text-white">
                <img src="https://www.systemuicons.com/images/icons/user_male.svg" style="width: 30px"/>
                <span style="color: black; font-size: large">Perfil</span>
            </a>
        </li>
    </ul>
    <hr>
    <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
</div>

<!--   RESULTADOS     -->

<div th:if="${listadoPosts != null and not #lists.isEmpty(listadoPosts) || listadoComentarios != null and not #lists.isEmpty(listadoComentarios)}"
     style="width: 400px; margin-left: 20px; margin-right: 20px;">

    <!-- LISTADO DE POSTS -->

    <div th:if="${listadoPosts != null and not #lists.isEmpty(listadoPosts)}" class="card" th:each="post:${listadoPosts}" style="margin-top: 10px; margin-bottom: 10px">
        <a th:href="@{'/post/detalle/' + ${post.id}}" style="text-decoration: none; color: black">
            <div class="card-body">
            <span>
                 <h5 style="display: inline-block;" class="card-title" th:text="${post.titulo}"></h5> - @<i th:text="${nombreUsuario}"></i>
                 <img src="https://cdn.icon-icons.com/icons2/2760/PNG/512/profile_icon_176363.png" style="width: 40px; float: right"/>
            </span>
                <p class="card-text" th:text="${post.contenido}"></p>
                <p class="card-text"><small class="text-body-secondary" th:text="${post.fecha}"></small></p>
                <img th:if="${post.imagen} != null" th:src="${post.imagen}" class="card-img-bottom" alt="imagen">
                <div style="display: flex; justify-content: space-evenly">
                    <div>
                        <a style="text-decoration: none" th:href="@{'/post/comentarios/' + ${post.id}}"><img src="https://www.systemuicons.com/images/icons/chat_add.svg"/></a>
                    </div>
                    <a style="text-decoration: none"><img src="https://www.systemuicons.com/images/icons/heart.svg"/><h6 style="display: inline-block"></h6></a>
                </div>
            </div>

        </a>
    </div>

    <!-- LISTADO DE COMENTARIOS -->

    <div th:if="${listadoComentarios != null and not #lists.isEmpty(listadoComentarios)}" class="card" th:each="comentario:${listadoComentarios}" style="margin-top: 10px; margin-bottom: 10px">
        <a th:href="@{'/post/detalle/' + ${comentario.id}}" style="text-decoration: none; color: black">
            <div class="card-body">
            <span>
                 <h5 style="display: inline-block;" class="card-title" th:text="${comentario.titulo}"></h5> - @<i th:text="${nombreUsuario}"></i>
                 <img src="https://cdn.icon-icons.com/icons2/2760/PNG/512/profile_icon_176363.png" style="width: 40px; float: right"/>
            </span>
                <p class="card-text" th:text="${comentario.contenido}"></p>
                <p class="card-text"><small class="text-body-secondary" th:text="${comentario.fecha}"></small></p>
                <div style="display: flex; justify-content: space-evenly">
                    <div>
                        <a style="text-decoration: none" th:href="@{'/post/comentarios/' + ${comentario.id}}"><img src="https://www.systemuicons.com/images/icons/chat_add.svg"/></a>
                    </div>
                    <a style="text-decoration: none"><img src="https://www.systemuicons.com/images/icons/heart.svg"/><h6 style="display: inline-block"></h6></a>
                </div>
            </div>

        </a>
    </div>

</div>

<div th:unless="${listadoPosts != null and not #lists.isEmpty(listadoPosts) || listadoComentarios != null and not #lists.isEmpty(listadoComentarios)}" >
    <div>
        <h2>No hay resultados</h2>
    </div>
</div>


<!--  BARRA DE BÚSQUEDA  -->

<div class="container" style="width: 350px; margin-left: 20px; margin-right: 20px">
    <div style="display: flex; align-items: center;">
        <form th:action="@{/buscar}" method="post" style="display: flex; margin-right: 10px; margin-bottom: 20px">
            <input type="search" class="form-control" name="palabraABuscar" placeholder="Buscar..." aria-label="Search">
            <button style="margin-left: 5px" class="btn btn-info" type="submit"><img src="https://www.systemuicons.com/images/icons/search.svg" /></button>
        </form>
    </div>
    <!--   VER POST DE LOS USUARIOS  -->

    <div class="container" style="padding-left: 0">
        <div class="card">
            <div class="card-body" th:each="usuario:${listaUsuarios}">
                <img src="https://cdn.icon-icons.com/icons2/2760/PNG/512/profile_icon_176363.png" style="width: 30px; float: left"/>
                - @<i th:text="${usuario.name}"></i><!-- Cgoer el firstname del UserDto -->
                <a th:href="@{'/perfil/' + ${usuario.id}}" style="float: right;" class="btn btn-dark">Ver perfil</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


</body>
</html>